<%- include('header'); -%>

<div class="content">
  <h1 id="welcome">Contacts</h1>
</div>
  <div id="info">
    <h2>Manager</h2>
    <ul>
      <li><b>Name</b> - Steve Jones </li>
      <li><b>Address</b> - 75 yikes lane </li>
      <li><b>Phone Number</b> - +44 131 496 0946 </li>
      <li><b>Email</b> - steveJones@webstore.com </li>
    </ul>
  </div>
  <div id="info">
    <h2>Warehouse Manager</h2>
    <ul>
      <li><b>Name</b> - Bill Box </li>
      <li><b>Address</b> - 12 poggington street </li>
      <li><b>Phone Number</b> - +44 113 496 0637  </li>
      <li><b>Email</b> - BillBox@webstore.com </li>
    </ul>
  </div>
  <div id="info">
    <h2>IT Support</h2>
    <ul>
      <li><b>Name</b> - Larry Mike </li>
      <li><b>Address</b> - 12 yeetington avenue </li>
      <li><b>Phone Number</b> - +44 117 496 0624  </li>
      <li><b>Email</b> - LarryMike@webstore.com </li>
    </ul>
  </div>



<%- include('footer'); -%>