<%- include('header'); -%>
<h1>SIGN-UP</h1>
<div id = "content">
  <form action="/api/register" method="POST">
      <label for="society">Society: </label><br>
      <input type = "text" name ="society"><br>
    <label for="contact">Fullname: </label><br>
    <input type = "text" name ="contact"><br>
    <label for="address">Address: </label><br>
    <input type = "text" name ="address"><br>
    <label for="zipcode">ZipCode: </label><br>
    <input type = "text" name ="zipcode"><br>
    <label for="city">City: </label><br>
    <input type = "text" name ="city"><br>
    <label for="phone">Phone number: </label><br>
    <input type = "text" name ="phone"><br>
    <label for="fax">Fax number: </label><br>
    <input type = "text" name ="fax"><br>
    <input type="submit" value="Sign-up!">
  </form>
</div><br>
<%- include('footer'); -%>